/* Position 레이아웃 */

/* position: relative */
.wrapper {
  position: relative;
  border: 1px solid blue;
}

.frontend {
  left: 50px;
  top: 80px;
  background-color: #000;

  span {
    position: relative;
    top: -5px;
    left: -5px;
    background-color: #ffc;
    display: block;
    padding: 10px;
  }
}

/* position: absolute */
.school {
  span {
    background-color: #cff;
    position: absolute;
    top: 0px;
    right: 0px;
    /* width: 200px;
    height: 100px; */
  }
}

/* position - fixed */
.likelion {
  background-color: yellow;
  width: 100px;
  height: 50px;
  position: fixed;
  font-weight: 700;
  text-align: center;
  align-content: center; /* 세로 정렬 - 작년에 출시 */
  top: 0;
  right: 0;
}
