/* 이디야 News */
:root {
  --white: #fff;
  --gray: #878787;
  --gray-dark: #14182c;
  --blue-100: #3030e0;
  --blue-200: #24388d;
  --blue-300: #111166;

  --start-color: var(--blue-100);
  --end-color: var(--blue-300);
}

/* 내가 짠 실습 코드 (grid 정렬만) */
/* .news {
  box-shadow: 0 0 0 1px red;
  background-color: var(--blue-300);
  color: var(--white);

  padding: 16px;
  gap: 16px;

  display: grid;
  grid-template: 20px 1fr / 1fr 70px;
  .more {
    grid-area: 1 / 2 / 2 / 3;  ㅠㅠㅠㅠ
  }
  .news-list {
    grid-area: 2 / 1 / 2 / 3;
  }
} */

/* 새소식 - grid 레이아웃 Feat. 슬비쌤 코드 */
.news {
  box-shadow: 0 0 0 1px red;
  background: var(--blue-300);
  color: var(--white);
  inline-size: 375px;
  display: grid;
  grid-template-columns: 1fr 63px;
  gap: 8px;
  padding: 16px;

  .news-title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-block-end: 8px;
  }

  .news-list,
  .news-item {
    display: contents;
  }

  .news-list {
    font-size: 0.8125rem;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }

  .more {
    grid-area: 1 / 2;
    /* justify-self: end; */
    /* align-self: start; */
    place-self: start end;
  }
}
