/* 이디야 News */
:root {
  --white: #fff;
  --gray: #878787;
  --gray-dark: #14182c;
  --blue-100: #3030e0;
  --blue-200: #24388d;
  --blue-300: #111166;

  --start-color: var(--blue-100);
  --end-color: var(--blue-300);
}

/* 내가 짠 실습 코드 (grid 정렬만) */
/* .news {
  box-shadow: 0 0 0 1px red;
  background-color: var(--blue-300);
  color: var(--white);

  padding: 16px;
  gap: 16px;

  display: grid;
  grid-template: 20px 1fr / 1fr 70px;
  .more {
    grid-area: 1 / 2 / 2 / 3;  ㅠㅠㅠㅠ
  }
  .news-list {
    grid-area: 2 / 1 / 2 / 3;
  }
} */

/* 새소식 - grid 레이아웃 Feat. 슬비쌤 코드 */
.news {
  background: var(--blue-300);
  color: var(--white);
  display: grid;

  /* new의 최소 사이즈 */
  min-inline-size: 320px;
  /* minmax -> 최소크기는 200px + 유연하게 */
  /* max-content -> 가장 긴 컨텐츠의 크기로 너비 정함 */
  grid-template-columns: minmax(200px, 1fr) max-content;
  gap: 8px;
  padding: 16px;

  .news-title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-block-end: 8px;
  }

  .news-list,
  .news-item {
    display: contents;
  }

  .news-list {
    font-size: 0.8125rem;
    line-height: 1.5;
    letter-spacing: -0.02em;

    a {
      /* a태그는 원래 인라인, 지금은 grid의 블록  */
      /* 오버플로우 처리 -> 3개 세트!! */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .more {
    grid-area: 1 / 2;
    /* justify-self: end; */
    /* align-self: start; */
    place-self: start end;
  }
}

/* 공지사항 - grid 레이아웃 */
/* 공지사항 - grid 레이아웃 */
.notice {
  --spacing: 12px;

  background: var(--blue-300);
  display: grid;
  min-width: 320px;
  grid-template-columns: 125px minmax(200px, 1fr);

  h2,
  div {
    grid-area: 1 / 1 / 2 / 2;
  }

  h2 {
    padding: var(--spacing);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }

  div {
    place-self: end;
    display: flex;
    flex-flow: nowrap row;
    padding: var(--spacing);

    button {
      border: 0;
      padding: 0;
      background: none;

      svg {
        /* vertical-align: top; */
        display: block;
      }
    }
  }

  article {
    padding: var(--spacing);
    background: #fff;

    h3 {
      color: var(--blue-200);
    }

    p {
      line-height: 1.5;
      letter-spacing: -0.02em;
      margin-top: 10px;
    }
  }
}

/* 고객감사 영상 - iframe 요소 */
/* padding 속성에 백분율 값을 활용한 반응형 iframe */
/* .ediya-youtube {
  figure {
    position: relative;
    height: 0;
    padding-top: 56.25%;

    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
} */

/* aspect-ration 속성을 활용한 반응형 iframe */
.ediya-youtube {
  figure {
    aspect-ratio: 16/ 9;
    position: relative;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
