/* 접근성 관련 CSS */
.sr-only {
  background: pink;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background: red;
  margin: -1px;
  padding: 0;
  border-width: 0;
  clip-path: inset(50%);
}
